{% extends "layout.html" %} {% block search %}
<h1>Contact Us</h1>
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-group">
        {{ form.name.label(class="form-control-label") }} {% if form.name.errors
        %} {{ form.name(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.name.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.name(class="form-control form-control-lg") }} {%
        endif %}
      </div>

      <div class="form-group">
        {{ form.email.label(class="form-control-label") }} {% if
        form.email.errors %} {{ form.email(class="form-control form-control-lg
        is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.email(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-group">
        {{ form.message.label(class="form-control-label") }} {% if
        form.message.errors %} {{ form.message(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.message.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.message(class="form-control form-control-lg") }} {%
        endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="w3-button w3-black w3-margin-top w3-opacity
      w3-hover-opacity-off") }}
    </div>
  </form>
</div>
{% endblock search %}
