{% extends "layout_help.html" %}
{% block content %}
    <h2>Overview</h2>

    <div class="line"></div>

    <section id="software-arch">
    <h3>Software Architecture</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>

    <div class="line"></div>

    <section id="web-arch">
        <h3>Website Architecture</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </section>

    <div class="line"></div>

    <section id="deployment">
        <h3>Deployment</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>

    <h2>Data</h2>
    <div class="line"></div>
    
    <section id="collection">
        <h3>Collection</h3>
        <p>Lorem ipsum dolor</p>
    </section>  

    <div class="line"></div>

    <section id="pre-processing">
        <h3>Pre-processing</h3>
        <p>Lorem ipsum dolor</p>
    </section>  
    
    <div class="line"></div>

    <section id="storage">
        <h3>Storage</h3>
        <p>As a database, SQLite3 is used because it is suitable for non-production environments. 
        Connectivity to the database is implemented using SQLAlchemy-Flask, an open source SQL toolkit and object-relational mapper (ORM) for Python. Multiple tables are used to store the data, which are joined with the relationships shown in the figure below.</p> 
            
            <p>SQLAlchemy was selected to be used because it provides a high-level approach that is simple to implement and helps in developing code quicker. SQLAlchemy, due to its ORM capabilities, acts as a database abstraction layer. This layer sits as an intermediary between the app and the database engine. It allows defining regular Python objects and methods and translates them into low-level SQL database instructions.
        .</p>
        <img src="{{url_for('static', filename='help_files/popgen_database_diagram.png')}}" align="middle" />
        
    </section>  
    
    <div class="line"></div>   

    <section id="search">
        <h2>Search</h2>
        <p>Lorem ipsum dolor</p>
    </section>

    <div class="line"></div>

    <h2>Results</h2>

    <div class="line"></div>  

    <section id="sum-stats">
        <h3>Summary Statistics</h3>
        <p>Lorem ipsum dolor</p>
    </section>  
    
    <div class="line"></div> 

    <section id="plots">
        <h3>Plots</h3>
        <p>Lorem ipsum dolor</p>
    </section>  
    
    <div class="line"></div>  

    <section id="limitations">
        <h2>Limitations</h2>
        <p>Lorem ipsum dolor</p>
    </section>

    {% endblock content %}<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:TaxCatchAll msdt:dt="string">1;#Protect</mso:TaxCatchAll>
<mso:QMULInformationClassificationTaxHTField0 msdt:dt="string">Protect|9124d8d9-0c1c-41e9-aa14-aba001e9a028</mso:QMULInformationClassificationTaxHTField0>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>