{% extends "layout.html" %} 
{% block content %}
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
      <div class="w3-display-left w3-text-Black" style="padding:48px">
        <span class="w3-jumbo w3-hide-small">Population Genomics</span><br>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium">Population Genomics</span><br>
        <span class="w3-large">Search for variation across chromosomes and perform basic analysis</span>
        <p><a href="{{ url_for('main.search') }}"class="w3-button w3-blue w3-text-black w3-padding-large w3-large w3-margin-top w3-hover-black w3-hover-text-white">Search For SNPs</a></p>
      </div>
    </header>

    <div class="container" style="padding:128px 16px" id="team">
      <h3 class="w3-center">THE TEAM</h3>
      <p class="w3-center w3-large">The ones who Created this Web App</p>
      <div class="row justify-content-md-center">

        
        <div class="col-sm-12 col-md-6 col-lg-2 d-flex">
          <div class="card">
            <img class="center" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_female2-512.png" alt="Github Pic" style="width:80%">
            <div class="card-body">
              <h3>Alexandra</h3>
              <p class="w3-opacity">Data Collection and Documentation </p>
            </div>
            <div class="card-footer">
              <button class="w3-button w3-light-grey w3-block">
                <a target="_blank" href="https://github.com/alexxandra00"><i class="fa fa-github"></i></a>
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 d-flex">
          <div class="card">
            <img class="card-img-top center" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt="Github Pic" style="width: 80%" />
            <div class="card-body">
              <h3>Harry</h3>
              <p class="w3-opacity">Front End Dev</p>
            </div>
            <div class="card-footer">
              <button class="w3-button w3-light-grey w3-block">
                <a target="_blank" href="https://github.com/HarryArthurMarchant"><i class="fa fa-github"></i></a>
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2 d-flex">
          <div class="card">
            <img class="card-img-top center" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt="Github Pic" style="width: 80%" />
            <div class="card-body">
              <h3>Waleed</h3>
              <p class="w3-opacity">Database Engineer</p>
            </div>
            <div class="card-footer">
              <button class="w3-button w3-light-grey w3-block">
                <a target="_blank" href="https://github.com/AbuKamaal"><i class="fa fa-github"></i></a>
              </button>
            </div>
          </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-2 d-flex">
          <div class="card">
            <img class="card-img-top center" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt="Github Pic" style="width: 80%" />
            <div class="card-body">
             <h3>Mani</h3>
              <p class="w3-opacity">Backend Dev</p>
            </div>
            <div class="card-footer">
              <button class="w3-button w3-light-grey w3-block">
                <a target="_blank" href="https://github.com/Mani-varma1"><i class="fa fa-github"></i></a>
              </button>
            </div>
          </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-2 d-flex">
          <div class="card">
            <img class="card-img-top center" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_female2-512.png" alt="Github Pic" style="width: 80%" />
            <div class="card-body">
              <h3>Laavanya</h3>
              <p class="w3-opacity">Statistician and data Visualisation</p>
            </div>
            <div class="card-footer">
              <button class="w3-button w3-light-grey w3-block">
                <a target="_blank" href="https://github.com/Laavanya741"><i class="fa fa-github"></i></a>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div> 
    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64">
      <p>Powered by: <span class="w3-hover-text-green">Caffine Overdose and Slepless Nights</span></p>
    </footer>
{% endblock content %}
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:TaxCatchAll msdt:dt="string">1;#Protect</mso:TaxCatchAll>
<mso:QMULInformationClassificationTaxHTField0 msdt:dt="string">Protect|9124d8d9-0c1c-41e9-aa14-aba001e9a028</mso:QMULInformationClassificationTaxHTField0>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>