{% extends "layout.html" %}
{% block content %}
    <h1>Search Page</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="content-section">
            <fieldset class="form-group ">
                {{ form.gene.label(class="form-control-label") }}
                    {% if form.gene.errors %}
                        {{ form.gene(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.gene.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.gene(class="form-control form-control-lg") }}
                    {% endif %}
                    <div class="form-group">
                        {{ form.gene_search(class="btn btn-outline-info") }}
                    </div>
            </fieldset>
        </div>
    </form>
    {% endblock content %}
            