{% extends "layout.html" %}
{% block content %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">Place Holder</a>
            <small class="text-muted">28/01/2022</small>
          </div>
          <h2><a class="article-title" href="#">Population Genomices</a></h2>
          <p class="article-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, libero?</p>
        </div>
      </article>
{% endblock content %}