body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

a {
  color: #333;
}

.col-container {
  display: table;
  width: 100%;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-color: bisque;
  background-image: url("../static/profile_pics/background.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 8px;
}

.bg-steel {
  background-color: rgba(10, 10, 10, 0);
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 5px solid #dddddd;
  border-radius: 15px;
  margin-bottom: 20px;
}

.article-title {
  color: rgb(175, 26, 26);
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 32px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.change-width {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.center {
  display: table-row-group;
  margin-left: 0%;
  margin-right: 0%;
  width: 80%;
  margin: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

.fa-github {
  font-size: 20px;
}

.w3-button {
  border-radius: 6px;
}

.w3-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
