body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

a {
  color: #333;
}

.col-container {
  display: table;
  width: 100%;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-color: bisque;
  background-image: url("../static/profile_pics/background.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 8px;
}

.bg-steel {
  background-color: rgba(10, 10, 10, 0);
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 5px solid #dddddd;
  border-radius: 15px;
  margin-bottom: 20px;
}

.article-title {
  color: rgb(175, 26, 26);
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 32px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.change-width {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.center {
  display: table-row-group;
  margin-left: 0%;
  margin-right: 0%;
  width: 80%;
  margin: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

.w3-button2 {
  background-color: #ffffff;
  background-image: linear-gradient(to bottom right, #a0a09e, #000000, #919491);
  border: 0;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
  padding: 1rem 1.25rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.w3-button2:hover {
  box-shadow: none;
}

@media (min-width: 1024px) {
  .w3-button2 {
    font-size: 1.5rem; /* 24px */
    padding: 1rem 1.5rem;
    line-height: 2rem; /* 32px */
  }
}
