
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-color: bisque;
    background-image: url("../static/profile_pics/background.jpg");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}


.bg-steel {
  background-color: #5f788a;
}




.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 5px solid #dddddd;
  border-radius: 15px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.change-width {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 10%;
}

